{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="{% static 'core/css/estilo.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"> -->
</head>

<body class="bg-gray-50">
  {% include 'includes/_header.html' %}

  <div class="d-flex"></div>
  <!-- <div class="container-fluid"> -->
    {% if user.is_authenticated %}
      {% include 'includes/_sidebar.html' %}
    {% endif %}

      <div class="col py-3">

        <div class="container mt-4">
          <main>
            {% block content %}
            {% endblock %}
          </main>
        </div>

      </div>
    </div>
  </div>
  {% include 'includes/_footer.html' %}
</body>

</html>