{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h3 class="display-4">Deletar Exame</h3>

    <div class="card">
      <div class="card-body">
        <p class="card-text">Tem certeza de que deseja excluir a exame <strong>{{ object.nome }}</strong>?</p>

        <form method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Deletar</button>
        </form>
        
        <a href="{% url 'exame_list' %}" class="btn btn-secondary mt-3">Cancelar e Voltar para a Lista de Exames</a>
      </div>
    </div>
  </div>
{% endblock %}
