{% extends 'base.html' %}

{% block title %}
SGO - Funções
{% endblock %}

{% block content %}

<div class="row mb-3">
  <h3 class="display-4">Lista de Funções</h3>
  <div class="col-md-6">
    <form method="get" action="{% url 'funcao_list' %}">
      <div class="input-group">
        <input type="text" class="form-control" name="nome" placeholder="Nome" value="{{ request.GET.nome }}">
        <button type="submit" class="btn btn-primary">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </form>
  </div>
  {% if perms.funcoes.add_funcao %}
  <div class="col-md-6">
    <a href="{% url 'funcao_create' %}" class="btn btn-success float-end">
      <i class="bi bi-plus"></i> Nova Função
    </a>
  </div>
  {% endif %}
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for funcao in funcoes %}
      <tr>
        <td>
          <a href="{% url 'funcao_detail' funcao.id %}" class="text-primary fw-semibold">
            {{ funcao.id }}
          </a>
        </td>
        <td>{{ funcao.nome }}</td>
        <td>
          <a href="{% url 'funcao_detail' funcao.id %}" class="btn btn-info btn-sm">
            <i class="bi bi-eye"></i>
          </a>

          {% if perms.funcoes.change_funcao %}
          <a href="{% url 'funcao_update' funcao.id %}" class="btn btn-warning btn-sm">
            <i class="bi bi-pencil"></i>
          </a>
          {% endif %}

          {% if perms.funcoes.delete_funcao %}
          <a href="{% url 'funcao_delete' funcao.id %}" class="btn btn-danger btn-sm btn-delete">
            <i class="bi bi-trash"></i>
          </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% include 'includes/_pagination.html' %}

{% endblock %}